﻿@model MedicalClinicSDM.Models.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="~/css/login.css" />
</head>
@using (Html.BeginForm())
{

    @Html.ValidationSummary(true, "Login failed. Check your login details.");
    <body>
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                    <div class="card card-signin my-5">
                        <div class="card-body">
                            <h5 class="card-title text-center">Sign In</h5>
                            <form class="form-signin" asp-action="Login">
                                <div class="form-label-group">
                                    <input asp-for="Username" class="form-control" id="inputEmail" placeholder="Username" required autofocus />
                                    <label for="inputEmail">Username</label>
                                </div>
                                <div class="form-label-group">
                                    <input asp-for="Password" class="form-control" id="inputPassword" placeholder="Password" required" />
                                    <label for="inputPassword">Password</label>
                                </div>
                                @if (!ViewData.ModelState.IsValid && ViewData.ModelState["Error"].Errors.Count > 0)
                                {
                                    <div class="alert alert-danger">
                                        Date invalide!
                                    </div>
                                }

                                <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" value="Login">Sign in</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
}
