﻿@model MedicalClinicSDM.Models.CaregiverPacient

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>CaregiverPacient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Caregiver)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Caregiver.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pacient)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pacient.Password)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
