﻿@model MedicalClinicSDM.Models.CaregiverPacient

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>CaregiverPacient</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CaregiverID" />
            <input type="hidden" asp-for="PacientID" />
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
